$color_white: #fff;
$color_black: #000;

$primary: #7e2606;
$primary-dark-1: #431501;

$primary-light-1: #ae3b14;

$primary-gray-1: #303030;
$primary-gray-light-1: #585858;

$box-shadow-1: 0 1rem 5rem rgba(#000, 0.5);

$border-radius-small: 2rem;
$border-radius-medium: 4rem;
$border-radius-large: 6rem;
