@import "../Styles/_variables.scss";

.main {
  //   clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  padding-top: 5rem;
  padding-bottom: 3rem;
  height: auto;
  //   max-width: 100vw;
  position: relative;
  background-color: black;

  &__image {
    max-width: 100%;
    height: 20rem;
    background-image: url(pizza-background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 90%);
  }

  &__description {
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    position: relative;
    margin: 0 auto;
    margin-top: -14rem;

    z-index: 10;

    border-radius: 20px;
    background-color: $primary-gray-1;
    box-shadow: $box-shadow-1;
    color: $color_white;

    &__primary_title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &__text {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
